@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --main-bg-dark: #171717;
    --tiles-bg: #292929;
    --highlight: #c18949;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: var(--main-bg-dark);
}

.boss-header {
    padding-left: 75px!important;
}

.bosspic {
    position: absolute;
    top: 1px;
    left: 0;
    width: 54px;
    height: 54px;
    border-radius: 8px;
}

.boss-title-wrapper {
    margin-top: -250px;
}



.card {
    background-color: var(--tiles-bg)!important;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.card-header {
    background-color: var(--tiles-bg)!important;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    border-radius: 5px!important;
}


.card:hover {
    background-color: var(--highlight)!important;
}

.container-600 {
    max-width: 600px;
}

.fab, .fas {
    font-size: 2em;
}

.fa-chart-bar {
    color: #009688;
}

.fa-discord {
    color: #7646ff;
}

.fa-file-alt {
    color: #f8772e;
}

.fa-google-drive {
    color: #45bd62;
}

.fa-question-circle {
    color: #14cff6;
}

.fa-youtube {
    color: #f02849;
}

.frame {
    position: absolute;
    top: 1px;
    left: 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.icon-header {
    display: flex;
    align-items: center;
}

.icon-header i {
    margin-right: 1em;
}

.raid-header {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-image: url(nathriabg.jpg);
}
